/* Include these font families
font-family: 'Playfair Display', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Griffy', cursive */


body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
}

.site-header {
  overflow: visible;
  background-color: #545454;
}



  .android-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .android-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

.mdl-layout-title {
    color: #F0EFF4;
    font-family: 'Griffy', cursive;
    font-size: 2.5em;
    
}

.logo-image {
    padding-top: 15px;
}

.android-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

  .android-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #8bc34a;
    }


.android-drawer {
  border-right: none;
}

.android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .android-drawer .mdl-layout-title {
    position: relative;
    background: #F0EFF4;
    height: 160px;
  }

  .android-drawer .android-logo-image {
      position: absolute;
      bottom: 16px;
    }

.android-mobile-title {
    display: none;
}

.hero-banner {
  position: relative;
  height: 625px;
  width: auto;
  background: url('../img/hero.gif') center 30%; 
  background-size: cover;
}

.logo-font {
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: ghostwhite;
}

.hero-banner-slogan {
  font-size: 80px;
  padding-top: 120px;
}

.hero-banner-sub-slogan {
  font-size: 25px;
  padding-top: 30px;
}

.quiz-title {
    background-color: #3D2645;
    
}

.quiz-title-text {
    font-size: 80px;
    padding-top: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.quiz-title-sub-text {
    font-size: 25px;
  padding-top: 30px;
}
.mdl-cell {
  box-sizing: border-box;
  padding-left: 8px;
  padding-top: 4px;
  color: white;
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 215px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text {
    color: black;
    padding-bottom: 30px;
}

.question1 .demo-card-wide.mdl-card.mdl-shadow--2dp .mdl-card__title {
    background: url('../img/myproj-1.jpg') center / cover;
}

.question2 .demo-card-wide.mdl-card.mdl-shadow--2dp .mdl-card__title {
    background: url('../img/myproj-2.jpg') center / cover;
}

.question3 .demo-card-wide.mdl-card.mdl-shadow--2dp .mdl-card__title {
    background: url('../img/myproj-3.jpg') center / cover;
}




/**** Mobile layout ****/
@media (max-width: 900px) {
  .android-navigation-container {
    display: none;
  }

  .android-title {
    display: none !important;
  }

  .hero-banner-slogan {
  font-size: 30px;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-banner-sub-slogan {
  font-size: 15px;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-banner {
  position: relative;
  height: 300px;
  width: auto;
  background: url('../img/hero.gif') center 30%; 
  background-size: cover;
}


  .android-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
  