/* Include these font families
font-family: 'Playfair Display', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Griffy', cursive 
font-family: 'Indie Flower', cursive;
font-family: 'Abril Fatface', cursive;*/


body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
}

.mdl-layout {
    background-color: #E2AA4F;
}

.site-header {
  overflow: visible;
  background-color: #545454;
}

  .android-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .drawer-title {
    height: 20px;
    font-size: 27px;
  }


  .android-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

.mdl-layout-title {
    color: #F0EFF4;
    font-family: 'Griffy', cursive;
    font-size: 2.5em;
    
}

.logo-image {
    padding-top: 15px;
}

.android-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

  .android-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #E2AA4F;
    }


.android-drawer {
  border-right: none;
}

.android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .android-drawer .mdl-layout-title {
    position: relative;
    background: #F0EFF4;
    height: 200px;
  }


.android-mobile-title {
    display: none;
}

.hero-banner {
  position: relative;
  height: 625px;
  width: auto;
  background: url('../img/hero.gif') center 30%; 
  background-size: cover;
}

.logo-font {
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: ghostwhite;
}

.hero-banner-slogan {
  font-size: 80px;
  padding-top: 120px;
}

.hero-banner-sub-slogan {
  font-size: 25px;
  padding-top: 30px;
}

.quiz-title {
    background-color: #E2AA4F;
}

.mdl-cell {
  box-sizing: border-box;
  min-width: 70px;
  padding-left: 8px;
  padding-top: 4px;
  color: white;
}

.demo-card-wide.mdl-card {
  width: 100%;
  
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 300px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text {
    color: #F0EFF4;
    font-weight: lighter;
    font-size: 20px;    
}

.mdl-card__supporting-text {
    background-color: #313638;
    width: auto;
}

.scroll-anchor-button {
    padding-top: 300px;
}

.quiz-title {
    padding-top: 40px;
}

.quiz-title-text {
    font-size: 80px;
    padding-top: 20px;
    font-family: 'Abril Fatface', cursive;
}

.quiz-title-sub-text {
    font-size: 25px;
    padding-top: 30px;
    line-height: 1.25;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-family: 'Indie Flower', cursive;
}

.quiz-card-1 .demo-card-wide.mdl-card.mdl-shadow--2dp .mdl-card__title {
    background: url('../img/music.jpg') center / cover;
    height: 400px;
}

.quiz-card-2 .demo-card-wide.mdl-card.mdl-shadow--2dp .mdl-card__title {
    background: url('../img/homeless.jpg') center / cover;
    height: 400px;
}

.quiz-card-3 .demo-card-wide.mdl-card.mdl-shadow--2dp .mdl-card__title {
    background: url('../img/love.jpg') center / cover;
    height: 400px;
}

.quiz-card-4 .demo-card-wide.mdl-card.mdl-shadow--2dp .mdl-card__title {
    background: url('../img/escape.jpg') center / cover;
    height: 400px;
}

.quiz-card-5 .demo-card-wide.mdl-card.mdl-shadow--2dp .mdl-card__title {
    background: url('../img/island.jpg') center / cover;
    height: 400px;
}

.quiz-card-6 .demo-card-wide.mdl-card.mdl-shadow--2dp .mdl-card__title {
    background: url('../img/car.jpg') center / cover;
    height: 400px;
}

.mdl-radio {
    display: inline-block;
    padding: auto;
}


.radio-options {
    padding:40px;
    font-weight: bold;
   
}

.radio-options label {
    display: inline-flex;
    padding-bottom: 60px;
}

.mdl-radio__label {
    color: #757575;
    font-size: 16px;
    display: inline-block;
}

.submit-area {
    background-color: #92BFB1;
    position: center;
}
.name-entry {
    text-align: center;
}

.name-entry h2{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #fff;
}

.mdl-textfield__label {
    font-size: 18px;
    text-align: center;
    color: #918E8E;
}

.answer-submit {
    object-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mdl-button--colored {
    font-weight: lighter;
    font-size: 20px;
}

.results-card .demo-card-wide.mdl-card {
  position: relative;
  width: 100%;
}

.mdl-grid.center-items {
  justify-content: center;
}

.see-results-title {
    display: none;
    width: 100%;
    background-color: #E2AA4F;  
    text-align: center;
    line-height: 1; 
    padding-top: 60px;
}

.see-results-title span {
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #313638;
}

.result-image {
  color: #fff;
  height: 176px;
  background: url('../img/hero.gif') center / cover;
}
.results-card .demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.results-card {
  display: none;  
}

.result-details {
    background-color: #fff;
}

.result-title {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px; 
    color: black;
}


.mdl-mini-footer__left-section .mdl-logo{
    font-family: 'Griffy', cursive;
    font-size: 20px;
}




@media (max-width: 1180px) {

    .mdl-radio__label {
    font-size: 14px;
}
}

@media (max-width: 980px) {

    .mdl-radio__label {
    font-size: 11px;
}

.radio-options label {
    padding-bottom: 90px;
}

.mdl-card__title-text {
    font-size: 16px;    
}

}



/**** Mobile layout ****/
@media (max-width: 900px) {
  .android-navigation-container {
    display: none;
  }

  .android-title {
    display: none !important;
  }

  .hero-banner-slogan {
  font-size: 40px;
  padding-top: 85px;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-banner-sub-slogan {
  font-size: 18px;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-banner {
  position: relative;
  height: 300px;
  width: auto;
  background: url('../img/hero.gif') center 30%; 
  background-size: cover;
}


.logo-image {
    padding-top: 10px;
}

.quiz-title-text {
    font-size: 60px;
    padding-top: 20px;
    font-family: 'Abril Fatface', cursive;
}

.quiz-title-sub-text {
    font-size: 18px;
    padding-top: 30px;
    line-height: 1.5;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    font-family: 'Indie Flower', cursive;

}

.see-results-title {
    padding-top: 30px;
}

.see-results-title span {
    font-size: 30px;
}

  .android-mobile-title {
    display: block;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
  
@media (max-width: 839px) {

    .mdl-radio__label {
    font-size: 15px;
}

.radio-options label {
    padding-bottom: 60px;
}

.mdl-card__title-text {
    font-size: 20px;    
}


}

@media (max-width: 720px) {

    .mdl-radio__label {
    font-size: 11px;
}

.radio-options label {
    padding-bottom: 70px;
}

.mdl-card__title-text {
    font-size: 16px;    
}

}

@media (max-width: 550px) {

    .mdl-radio__label {
    font-size: 10px;
}

.radio-options label {
    padding-bottom: 90px;
}

.mdl-card__title-text {
    font-size: 15px;    
}

}



@media (max-width: 477px) {
    
    .mdl-radio__label {
        display: inline-block;
        font-size: 15px;
    }

    .radio-options label {
    padding-bottom: 70px;
}

.mdl-card__title-text {
    font-size: 20px;    
}

}